firmware/include/config.h
hardware/Gerber_PCB_2020-08-14_18-20-35_2020-08-16_22-48-04.zip
firmware/test/ota-headers.json
firmware/remotecontrol.code-workspace
diagnose/remote-diagnostic/.gitignore
firmware/ota/prod_config.py
firmware/ota/dev_config.py
